<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>

		<!-- CSS CDN Linked -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<!-- Custom Stylesheet -->
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>

		
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">YelpCamp</a>
		</div>

		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav ">
			    <% if(!currentUser){ %>
					<li><a class="nav-link" href="/login"> Login </a></li>
					<li><a class="nav-link" href="/register"> Sign Up </a></li>
				<% } else { %>
					<li><a class="nav-link"	href="#">Signed In as <%= currentUser.username %></a></li>
					<li><a class="nav-link" href="/logout"> Logout </a></li>
				<% } %>
			</ul>
		</div>
	</div>	
</nav>

<div class="container">
	<% if(error && error.length > 0){ %> 
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %> 
	<% if(success && success.length > 0){ %> 
	<div class="alert alert-success" role="alert">
		<%= success %>
	</div>
	<% } %> 
</div>

	