.thumbnail img
{
    width: 100%;
}

.card .caption
{
    padding: 9px;
}

nav
{
    margin-bottom: 1.5em;
}

.bg-light
{
    padding: 1.5em ;
}

.delete-form
{
    display: inline;
}

#center
{
    width: 30%;
    margin: 25px auto;
}