.thumbnail img
{
    width: 100%;
}

.card .caption
{
    padding: 9px;
}

nav
{
    margin-bottom: 1.5em;
}

.bg-light
{
    margin-top: 1.5em;
    padding: 1.5em ;
}

.delete-form
{
    display: inline;
}

#center
{
    width: 30%;
    margin: 25px auto;
}

.card
{
    max-width: 100%;
}

i 
{
    font-size: 1.5em;
}

#spacing
{
    text-indent: 5.5em;
}

.spacing-btn
{
    margin-left: 4.3em;
}

.row .text-center
{
    display:flex; 
    flex-wrap: wrap;
}

.col-md-4
{
    margin-top: 1.5em ;
}